#about {
    padding-top: 3em;
    padding-bottom: 3em;
}

#about h2, #contact h2 {
    color: #123a47;
}

#about img {
    max-width: 470px;
    padding:0 3em 2em 3em;
}

#about p {
    font-size: 18px;
}

#contact h2 {
    color: #123a47;
    background-color: white;
    margin: -40px auto 0;
    width: 240px;
    padding: 0px 20px 0 30px;
}

#contact .form-group {
    margin-bottom: 0;
}

#header {
    height: 6em;
    border-bottom: 1px solid #dedede;
}

#header a{
    text-transform: uppercase;
    color: #123a47;
    transition: 0.5s;
    font-weight: 500;
}

#header a:hover {
    text-decoration: none;
    color: #798488;
    transition: 0.5s;
}

.bg-light {
    background-color: #ffffff!important;
}

.contact {
    border-top: 3px dotted #123a47;
    padding-bottom: 3em;
}

.footer {
    height: 5.5em;
    background-color: #0b3449;
    color: #ffffff;
}

.footer p {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
    text-align: center;
}

.footer a {
    color: white;
    padding-left: 0.5em;
}

.footer a:hover {
    text-decoration: none;
}

.latest {
    margin-top: 3em;
}

.latest a {
    text-decoration: none;
}

.latest img {
    transition: 0.5s;
}

.latest img:hover {
    filter: brightness(50%);
    transition: 0.5s;
}

.name {
    position: relative;
    display: none;
    text-align: center;
    top: -11em;
    color: white;
}

.name:hover {
    text-decoration: none;
}

.logo-image {
    height: 6em;
    margin-left: 1em;
    margin-top: 2em;
}

.navbar {
    height: 6em;
    text-align: center;
}

.say-hello {
    padding-top: 1.5em;
}

.say-hello p, i {
    color: #0b3449;
}

.say-hello p {
    font-size: 18px;
}

.share {
    padding: 1em;
    text-align: center;
}


/* Blog */

body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url("img/pasta-eggs-chef-wheat-flour.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 25px;
}

.bgimg h1 {
    padding-bottom: 0.5em;
}

.bgimg p{
    padding-top: 1em;
    border-top: 1px solid white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}